@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    height: 500vh;
}

body {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Montserrat' serif;
    font-optical-sizing: auto;
    background: rgb(230, 224, 224) ;

}

header {
    max-width: 1200px;
    margin : auto;
    display : flex;
    align-items: center;
    justify-content:space-around;
}

header {
    width: 100%;
    padding : 25px 11%;
    position: fixed;
    top:0;
    left:0;
    transition: 1s;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 30px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: 800;
    text-shadow: 10px 10px 10px (#0f0f0f);
    font-size: 17px;
}

header.roll_effect {
    background-color: #747c84;
    padding: 15px 11%;
    opacity: 0;

}


.img_main {
    height: 100vh;
    background-image: url(/src/images/WhatsApp\ Image\ 2025-01-31\ at\ 12.13.52\ 1.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_main h1 {
    color:#24ace1;
    font-weight: 800;
    font-size: 2.2em;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
    
    
}


.img_main span {
    color: #9cb6c0;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
    ;
}


.btn_contato button {
    background-color:#F27052;
    width: 120px;
    height: 40px;
    border: 0;
    cursor:pointer;
    transition: .2s;

}









